body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.container{
    margin-top: 3rem;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
}
.card{
    border: 2px solid #000;
    border-radius: 2%;
    background-color: blue;
}

img{
    width: 480px;
    height: 480px;
    border-radius: 2%;

}